*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  height: 100px;
  background-color: pink;
}

div{
  float: left;
  width: 25%;
  margin: 4px;

}

 .sezione1::after {
   content: "";
   display: table;
   clear: both;
 }

.left {
  height: 200px;
  background-color: #d1a52c;
}

.center {
  width: 48%;
  height: 500px;
  background-color: #2aa1d4;
}

.right {
  float: right;
  display: inline-block;
  height: 200px;
  background-color: #86379e;
}

.right-bot {
  float: right;
  display: inline-block;
  height: 200px;
  background-color: #86379e;
}

footer{
  height: 100px;
  background-color: #a31c42;
}
